{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Rango</h1>
        <p>Developed with <i class="glyphicon glyphicon-heart"></i> and lots of time by Luis Fernando Barrera</p>
        <p>In association with <a href="http://informind.com">informind</a> in joynetworks Labs</p>
        <p><a href="http://code.informind.com/tango_django/src">Source code</a></p>
        <img src="{% static "joy.jpg" %}" />
    </div>
{% endblock %}