{% extends "base.html" %}

{% block title %}Add new page to {{ category.name }}{% endblock %}

{% block content %}

    <form id="page_form" method="post" action=".">
        <h2>Add new page to {{ category.name }}</h2>
        <p><a href="{% url "category" category_name_url=category.url %}">Back to {{ category.name }}</a></p>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
           {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-sm-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                <div class="col-sm-10 col-lg-6">
                    {{ field }}
                </div>
                {{ field.errors }}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="submit" value="Create Page" />
    </form>

{% endblock %}