{% extends "base.html" %}
{% load static %}
{% block title %}Add new category{% endblock %}

{% block content %}
    <form class="form-horizontal" id="category_form" method="post" action=".">
        <h2>Add a new category</h2>
        <div class="form-group">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
           <div class="form-group">
                <label class="col-sm-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                <div class="col-sm-10 col-lg-6">
                    {{ field }}
                </div>
                {{ field.errors }}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="submit" value="Create Category" />
        </div>
    </form>

{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
{% endblock styles %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script>
        $(".make-switch").bootstrapSwitch()
    </script>
{% endblock js %}