{% load static %}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Rango - the web link collector{% endblock %}</title>

    {% block styles %}
    <link href="{% static 'css/bootstrap-fluid.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% endblock styles %}
</head>
<body>
    <div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}">Rango</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                   {% if user.is_authenticated %}

                   {% block menuitems %}
                   {% endblock %}
                   <li><a href="{% url 'add_category' %}"><i class="glyphicon glyphicon-tag"></i> Add category</a></li>
                   {% endif %}
               </ul>
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "about" %}"><i class="glyphicon glyphicon-bookmark"></i> About</a></li>
                   {% if user.is_authenticated %}
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> {{ user.username }}</a></li>
                    <li><a href="{% url "logout" %}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                   {% else %}
                    <li><a href="{% url "register" %}"><i class="glyphicon glyphicon-pencil"></i> Register</a></li>
                    <li><a href="{% url "login" %}?next={{ request.get_full_path }}"><i class="glyphicon glyphicon-user"></i> Login</a></li>
                   {% endif %}
               </ul>
           </div>
        </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-3">

            </div>
            <div class="col-xs-12 col-sm-9">
                
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

    <!--
    <footer>
        <div class="container">
            <p>&copy; 2014 Luis Fernando Barrera</p>
        </div>
    </footer>
    -->

    {% block js %}
    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    if (!window.jQuery) {
        document.write('<script src="{% static 'js/jquery-2.1.1.min.js' %}"><\/script>');
    }
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>s
    {% endblock js %}
</body>
</html>