{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block menuitems %}
<li><a href="{% url 'add_page' category_name_url=category.url %}"><i class="glyphicon glyphicon-file"></i> Add page</a></li>
{% endblock %}

{% block content %}
    <h2>{{ category.name }}</h2>
    {% if user.is_authenticated %}

    {% endif %}
    {% if pages %}
        <ul>
        {% for page in pages %}
            <li><a href="{% url "visit_page" page=page.id %}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No pages</p>
    {% endif %}
{% endblock %}