{% extends "base.html" %}

{% block content %}
    <div class="content-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h2>Categories</h2>
                {% if categories %}
                    <ul>
                    {% for category in categories %}
                        <li><a href="{% url 'category' category_name_url=category.url %}">{{ category.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No categories</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Most viewed pages</h2>
                {% if most_viewed %}
                    <ul>
                    {% for page in most_viewed %}
                        <li><a href="{% url "visit_page" page=page.id %}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No pages</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                <h2>Last added pages</h2>
                {% if last_added %}
                    <ul>
                    {% for page in last_added %}
                        <li><a href="{% url "visit_page" page=page.id %}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No pages</p>
                {% endif %}
            </div>
        </div>
    </div>





{% endblock %}