{% extends "base.html" %}

{% block title %}Rango - Login{% endblock %}

{% block content %}
    <form class="form-horizontal" id="login" method="post" action=".">
    <div class="form-group">
        <h2 class="form-signin-heading">Login</h2>
        {% csrf_token %}
        {% for form in forms %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-sm-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                <div class="col-sm-10 col-lg-6">
                    {{ field }}
                </div>
                {{ field.errors }}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="submit" value="Login" />
    </div>
    </form>
    <p>Don't have an account? <a href="{% url "register" %}">Register</a></p>
{% endblock %}