{% extends "base.html" %}

{% block title %}Rango - Register{% endblock %}

{% block content %}
    <form class="form-horizontal" id="register_form" method="post" action=".">
        <div class="form-group">
        <h2>Register</h2>
        {% if registered %}
            <p>Thank you for registering</p>
        {% endif %}
        {% csrf_token %}
        {% for form in forms %}
        {% for hidden in form.hidden_fields %}
                {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label class="col-sm-2 col-lg-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                <div class="col-sm-10 col-lg-6">
                    {{ field }}
                </div>
                {{ field.errors }}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        {% endfor %}
        <input class="btn btn-primary" type="submit" name="submit" value="Register" />
        </div>
    </form>

{% endblock %}